@media only screen and (max-device-width : 480px) {
    body {
        zoom: 1.8;

    }
    .divBack{
        height:100%;
    }
    .contact-form-wrapper{
        height:100%;
    }
    .form{
        display:flex;
        flex-wrap: wrap;
        justify-content:center;
    }
   .divInput
    {
        width:100%;
    }
}

body {
    background-color: #000 !important;
    background-repeat: no-repeat;
    background-size: 200%;
}


.contact-form-wrapper {
    padding: 50px;
}

.contact-form {
    padding: 30px 40px;
    background-color: #ffffff;
    border-radius: 12px;
    max-width: 400px;
}

.contact-form textarea {
    resize: none;
}

.contact-form .form-input,
.form-text-area {
    background-color: #f0f4f5;
    height: 50px;
    padding-left: 16px;
}

.contact-form .form-text-area {
    background-color: #f0f4f5;
    height: auto;
    padding-left: 16px;
}

.contact-form .form-control::placeholder {
    color: #aeb4b9;
    font-weight: 500;
    opacity: 1;
}

.contact-form .form-control:-ms-input-placeholder {
    color: #aeb4b9;
    font-weight: 500;
}

.contact-form .form-control::-ms-input-placeholder {
    color: #aeb4b9;
    font-weight: 500;
}

.contact-form .form-control:focus {
    border-color: #f33fb0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px #f33fb0;
}

.contact-form .title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    padding:15px;
}

.contact-form .description {
    color: #aeb4b9;
    font-size: 14px;
    text-align: center;
}

.contact-form .submit-button-wrapper {
    text-align: center;
}

.contact-form .submit-button-wrapper input {
    border: none;
    border-radius: 4px;
    background-color: rgb(221, 220, 220);
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #f6daa6, 0 0 25px #f6daa6;
    color: white;
    text-transform: uppercase;
    padding: 10px 60px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #000;
}

.contact-form .submit-button-wrapper input:hover {
    background-color: rgb(221, 220, 220);
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #f6daa6, 0 0 25px #f6daa6;
}


@font-face {
    font-family: MontLight;
    src: url('./fonts/Mont-ExtraLightDEMO.otf');
}

@font-face {
    font-family: MontHeavy;
    src: url('./fonts/Mont-HeavyDEMO.otf');
}

* {
    font-family: MontLight !important;
    overflow: hidden;
}


.neon {
    /*font-size: 100px;*/
    /* letter-spacing:-2px;*/
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #f6daa6, 0 0 25px #f6daa6;
    -webkit-text-fill-color: #F4ECFF;
    -webkit-text-stroke-color: #f6daa6;
    -webkit-text-stroke-width: 0.2px;
}

.form {
    text-align: center;
    visibility: visible;
    animation-delay: 0.3s;
    animation-name: fadeInUp;
    background-color: #000;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #f6daa6, 0 0 25px #f6daa6;
}

.img {
    height: 250px;
    padding: 50px;
}
.butt{
    margin:20px;
}
:root{
    --gradient:  linear-gradient(to right, #000,#444 ,#f9a852,#444,#000);
  }
  *{
    box-sizing: border-box;
  }
  body{
    font-family: sans-serif;
    color: #222;
    background: beige;
    background-image: var(--gradient);
    background-size: 400%;
    animation: fondo-anim 10s infinite alternate;
  }
  @keyframes fondo-anim{
    0%{background-position: left;} /*por defecto*/
    100%{background-position: right;}
  }